.giant-word {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: web 3s infinite;
}

@keyframes web {
    50% {
        color: brown;
    }
}

.desc {
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    animation: desc 3s infinite;
}

@keyframes desc {
    50% {
        color: brown;
    }
}

#emailo {
    cursor: cell;
}

.drag {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    filter: brightness(20%);
    animation: dragme 5s infinite;
}

@keyframes dragme {
    50% {
        filter: brightness(0%);
    }
}

h1 {
    color: white;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 60%;
}

.passion {
    filter: blur(0.6px);
}

.underlajn {
    text-decoration: underline;
}

.aboutv1 {
    color: white;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
}

.aboutv2 {
    margin-top: 50px;
    color: white;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    width: 60%;
}

.aboutv3 {
    animation: colorfest 10s infinite;
}

.aboutcssw {
    animation: colorcss 10s infinite;
}

.aboutjsw {
    animation: colorjs 10s infinite;
}

.abouthtmlw {
    animation: colorhtml 10s infinite;
}

.aboutv3,
.abouthtmlw,
.aboutcssw,
.aboutjsw {
    margin-bottom: -10px;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    color: white;
}

@keyframes colorfest {
    50% {
        color: brown;
    }
}

@keyframes colorcss {
    50% {
        color: rgb(65, 182, 255);
    }
}

@keyframes colorhtml {
    50% {
        color: rgb(255, 164, 45);
    }
}

@keyframes colorjs {
    50% {
        color: rgb(255, 239, 98);
    }
}