.giant-word {
    color: #ffffff;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    animation: web 3s infinite;
}

@keyframes web {
    50% {
        color: brown;
    }
}

#containerWEBSITES p {
    margin-top: 15%;
}

.desc {
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    animation: desc 3s infinite;
}

@keyframes desc {
    50% {
        color: brown;
    }
}

#emailo {
    cursor: cell;
}

.drag {
    margin-top: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    filter: brightness(10%);
    animation: dragme 5s infinite;
}

@keyframes dragme {
    50% {
        filter: brightness(0%);
    }
}

.aboutv1 {
    color: white;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}

.aboutv2 {
    margin-top: 50px;
    color: white;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
}

.aboutv3 {
    margin-bottom: -10px;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    width: 50%;
    color: white;
    animation: colorfest 10s infinite;
}

@keyframes colorfest {
    50% {
        color: gray;
    }
    25% {
        color: brown;
    }
}