html {
    padding: 0;
    margin: 0;
    background-color: black;
    overflow: hidden;
    cursor: crosshair;
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -100;
}

.fullscreen-bg__video {
    background-size: cover;
}

@media (min-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .fullscreen-bg__video {
        width: auto;
        height: 100%;
    }
}

#logo {
    height: 3em;
    margin-bottom: 10px;
    margin-top: 16px;
    margin-left: 20px;
    display: inline-block;
    transition: 0.5s ease;
    cursor: grab;
}

#logo:hover {
    opacity: 50%;
}
#logo:active{
    cursor: grabbing;
}

.rectangle {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
}

.scndcontainer{
    width: 100%;
    margin-top: -40px;
    margin-left: -8px;
    margin-right: -8px;
}

#aboutphoto {
    margin-top: 10%;
    margin-left: 10%;
    float: left;
    width: 500px;
    height: 500px;
    filter: brightness(80%);

    box-shadow: 0px 0px 100px rgb(36, 36, 36);
}

.aboutcontainer {
    width: 50%;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    float: right;
}

model-viewer {
    
position: absolute;

left: 50%;
top: 50%;
transform: translate(-50%, -50%);
    filter: contrast(200%);
    transition-duration: 1s;
    height: 80%;
    width: 90%;
}

model-viewer:active {
    filter: brightness(150%);
    filter: contrast(150%);
}

.scndcontainer {
    height: auto;
    overflow-y: scroll;
}

.saddo {
    height: 100px;
    width: 100px;
}

.YouTube-music {
    margin: 30px;
    height: 250px;
    width: 400px;

    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(71, 71, 71)
}

.websites-about {
    text-decoration: none;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    width: 250px;
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;
}

.websites-about:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: wheat;
}

.projects {
    display: inline-block;
    margin: 20px;
    height: 200px;
    width: 350px;
    border-radius: 1em;
    filter: brightness(100%);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;

    box-shadow: 0px 0px 10px rgb(71, 71, 71);
}

.projects-thicking {
    margin: 20px;
    height: 120px;
    width: 450px;
    border-radius: 1em;
    filter: brightness(100%);
    transition-timing-function: ease-out;
    transition-duration: 0.5s;
}

.projects-thicking:hover,
.projects:hover {
    border-radius: 2em;
    filter: brightness(70%);
}

a {
    color: none;
    text-decoration: none;
}

#containerWEBSITES {
    margin-top: 15%;
}

.contactme {
    margin-top: 8%;
}

.clear-v1 {
    height: 10px;
}

.clear-v2 {
    height: 20px;
}

.clear-v3 {
    height: 30px;
}

.clear-v4 {
    height: 50px;
}

.clear-v5 {
    height: 50px;
}

.space-one {
    height: 70px;
}

.space-two {
    height: 70px;
}