@media only screen and (max-height:500) {
    .words {
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 999999px) {
    html {
        overflow: scroll;
    }
    .aboutv1 {
        font-size: 3em;
    }
}

@media only screen and (min-width: 1445px) {
    #containerMUSIC {
        margin-top: 5%;
        width: 80%;
    }
}

@media only screen and (max-width: 1446px) {
    html {
        overflow: visible;
    }
    #aboutphoto {
        width: 40%;
        height: 40%;
        margin-top: 6%;
    }
    .aboutcontainer {
        margin-top: none;
        margin-right: 0;
    }
    #containerMUSIC {
        margin-top: 5%;
        width: 80%;
    }
}

@media only screen and (min-width: 1064px) {
    #containerPROJECTS {
        height: auto;
    }
    #containerWEBSITES,
    #containerCONTACT {
        height: auto;
    }
}

@media only screen and (max-width: 1064px) {
    #containerPROJECTS {
        margin: 0;
        margin-top: -120px;
    }
    .navigate {
        float: right;
        max-width: 150px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .words {
        margin-bottom: 30px;
    }
    .homecontainer {
        max-width: 90%;
    }
    #logo {
        padding: 10px;
    }
    #containerPROJECTS {
        margin-top: -120px;
        margin-left: -10%;
        width: 80%;
        height: auto;
    }
    #containerWEBSITES {
        margin-top: 50px;
        margin-left: -15%;
        width: 60%;
        height: auto;
    }
    #aboutphoto {
        width: 50%;
        height: 50%;
        float: left;
        margin-left: 15%;
    }
    .aboutcontainer {
        float: left;
        margin-left: 15%;
    }
    #containerMUSIC {
        margin-left: -150px;
        width: 90%;
        height: auto;
    }
    .YouTube-music {
        display: inline-block;
        width: 320px;
        height: 200px;
    }
    #containerCONTACT {
        height: auto;
        margin-left: -100px;
    }
}

@media only screen and (min-width: 601px) {
    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        display: none;
    }
    .navigate {
        display: none;
    }
    .homecontainer {
        margin-top: 1%;
        max-width: 900%;
    }
    #btnHOMEm {
        margin-top: 120px;
    }
    #containerABOUT {
        margin: 0px;
        padding: 0;
    }
    .aboutcontainer {
        float: none;
        width: 100%;
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 0px;
    }
    #aboutphoto {
        float: none;
        margin: 0px;
        margin-top: 130px;
        width: 300px;
    }
    h1 {
        margin-top: 10px;
    }
    .drag {
        display: none;
    }
    .projects {
        margin: 0;
        margin-top: 50px;
        margin-left: -10px;
        float: none;
        max-height: 200px;
        width: auto;
    }
    .desc {
        float: none;
        margin-left: 5%;
    }
    #containerPROJECTS {
        width: 100%;
        height: auto;
        margin: 0;
    }
    #containerWEBSITES {
        width: 90%;
        margin-top: 200px;
        margin-left: -2%
    }
    #containerMUSIC {
        float: none;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .YouTube-music {
        max-width: 80%;
        max-height: 50%;
    }
    #abstract {
        margin-top: 30%;
    }
    #containerCONTACT {
        width: 90%;
        margin-top: 80px;
        margin-left: -15px;
    }
    .contactme {
        max-width: 100%;
    }
}